.cdx-block,
.ce-header,
.inlineToolButton,
.ce-toolbar__plus,
.ce-toolbar__settings-btn,
.ce-popover__search {
  background-color: rgb(38,38,38);
  color: white;
}

#editorjs-container{
  display: flex;
  justify-content:end;
  background: transparent;
  margin: 0;
}
.codex-editor{
  background-color: rgb(38,38,38);
  width: 60%;
  border-radius: 30px 0px 0px 30px;
  padding-top: 50px;
}
.codex-editor__redactor{
  
}
.ce-header{
  margin-bottom: 10px;
}
.ce-paragraph.cdx-block{
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: flex-start;
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover,
.cdx-loader,
.cdx-button {
  color: white;
  background-color: #262626;
}

.cdx-button:hover {
  background-color: #2f2f2f;
}

.ce-popover,
.ce-popover-item,
.ce-popover-item__icon,
.ce-popover-items,
.ce-popover-item:hover {
  --color-background-item-hover: #2f2f2f;
  background-color: #262626;
  color: white;
  border: none;
}
